<h1 class="text-center"><a href="/">FizzBuzz</a></h1>

<form action="/fizzit" method="get">
  <div class="input-group">
  <input class="form-control input-lg" type="text" autofocus="autofocus" name="number" value="<% @number %>">
  <span class="input-group-btn">
    <button class="btn btn-primary btn-lg" type="submit">Submit</button>
  </span>
  </div>
</form>
