<h1 class="text-center">Fizzbuzz</h1>

<form action="/fizzit" method="get">
  <div class="input-group">
  <input class="form-control" type="text" name="number" value="<% @number %>">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="submit">Submit</button>
  </span>
  </div>
</form>
